<?xml version="1.0"?>
<ruleset name="NetivoCore">
	<description>WordPress VIP coding standards for netivo/wp-core.</description>

	<file>src</file>

	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<arg name="colors"/>

	<config name="minimum_supported_wp_version" value="6.3"/>

	<rule ref="WordPressVIPMinimum"/>
	<rule ref="PHPCompatibility">
		<config name="testVersion" value="8.4-"/>
	</rule>
</ruleset>
